:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

#container {
    display: block;
    position: relative;
    width: var(--menu-bar-width);
    height: 50px;
    margin: 100px;
}

#menu {
    background-color: #D84282;
    position: relative;
    top: 20px;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    margin-top: 0px;
    transition: background-color 0.3s ease-in-out;
}

#container:hover #menu {
    background-color: transparent;
}

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
    transition: all 0.3s ease-in-out;
}

#menu::before {
    left: 0;
    top: -20px;
}

#container:hover #menu::before {
    transform: rotate(45deg);
    top: 0;
}

#menu::after {
    left: 0;
    top: 20px;
}

#container:hover #menu::after {
    transform: rotate(-45deg);
    top: 0;
}

